.hero{
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;

    &__text{
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 28px;
        line-height: 50px;
    }

    button{
        font-size: 20px;
        cursor: pointer;
        margin-top: 30px;
    }
}